:root {
    /* colors from the color palet I chose */
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Arvo', serif; */
    font-family: 'Arvo', serif;
    /* second font montserrat */
    /* colors from the color palet I chose */
    --coal: rgb(38, 40, 43);
    --coal-alpha: rgba(38, 40, 43, 0.8);
    --cream: #fcfad6;
    --bar-blue: #1b1b35;
}

a {
    all:unset;
    cursor: pointer;
}

input, button { 
    border:none; 
    background-color:none;
    padding:none;
}

body, html {
    margin:unset;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

