#ingredient-inventory {
    padding-top: 10px;
    /* Styles set in the JSX */
}


.list-bookmarks {
    display: flex;
    margin: 0% 4% 0% 4%;
    overflow: hidden;

    
    /* overflow: hidden; */
}

.ingredient-list-bookmark {
    border-radius: 0px 8px 0px 0px;
    background-color: var(--coal);
    border: 1px solid var(--cream);
    color: var(--cream);
    /* float:left; */
    width:auto;
    max-width: 150px;
    flex:1;

    height: 30px;
    font-size: 20px;

    z-index:5;



}

.ingredient-list-bookmark.on {
    background-color: var(--cream);
    color: var(--coal);
}

.ingredient-list-bookmark > div {
    /* I would have 30px of height max here */
    padding: 6px 5px 4px 5px;
    overflow: hidden;
    height: 20px;
}





.ingredient-list-add {

    border-radius: 0px 8px 0px 0px;
    background-color: var(--coal);
    border: 1px solid var(--cream);

    max-width: 100px;
    flex: 1;
    height: 30px;

    /* Feel like this can be hoisted up somehow */
    font-size: 20px;

    transition: 0.4s linear;
    position: relative;
    left: -78px;

    z-index: 4;
    padding: 0px;
}

.ingredient-list-add > input {

    all:unset;
    width: 100%;
    height: 100%;
    /* top:10px; */
}

.ingredient-list-add > input::placeholder {
    /* Doesn't work for some reason, bug needs to be fixed */
    color: lightgray;
}

/* .ingredient-list-add:hover {
    position: relative;
    
} */


/* Animation */
.ingredient-add-container {
}

.ingredient-add-container:hover {
    width: 100px;
}

.ingredient-add-container:hover .ingredient-list-add {
    left: 0px;
}

