.ingredient-list {
    /* border:3px solid var(--cream); */
    margin: 0% 4% 1% 4%;
    background-color: var(--coal-alpha);
    max-height: 600px;
    font-family: 'Arvo', serif;
    /* overflow-x: scroll; */ /* SOlution*/
}

.ingredient-list > :first-child {
    border-top: 1px solid cream;
    height: 35px;
    font-weight: 700;
    padding-top: 8px;
    background-color: var(--cream);
    color: var(--coal);
}

.ingredient-row {
    height: 25px;
    display: flex;
    color:var(--cream);
}

.ingredient-row > div {
    flex: 1;
    padding: 4px 2px 0px 8px;
    overflow: hidden;
    border-bottom: 1px solid var(--cream);
    border-left: 1px solid var(--cream);
}

.ingredient-row > div:last-child {
    border-right: 1px solid var(--cream);
}

.ingredient-add {
    padding-top:none;
}

.ingredient-add input {
    all: unset;
    width:100%;
}

.ingredient-add > :first-child input {

    all: unset;
    display: inline-block;
    width:90%;
    /* height:100%; */
}

.ingredient-add > :first-child button {
    all: unset;
    display: inline-block;

   width:0%;
   /* height: 100%; */
   background-color: var(--bar-blue); 
}
